
    {% extends "base.html" %}
    <head>
      <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
      </head>
    {% block title %}LOGIN{% endblock %}
    
    {% block body %}
    <form action="" method="post">
    {% if error %}<div class="error"><h2> Whoops! Something went wrong: </h2> {{ error }}</div>{% endif %}
    <h1>Welcome to the login page! Log in below...</h1>
    <dl>
        <dt>Username:
        <dd><input type="text" name="username" size="30" value="{{ request.form.username }}">
        <dt>Password:
        <dd><input type="password" name="password" size="30">
      </dl>
      <div class="actions"></div><input type="submit" value="Sign In"></div>
    </form>
    
    {% endblock %}